<!DOCTYPE html>
<html lang="es">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <meta http-equiv="Access-Control-Allow-Methods" content="*" /> 
    <meta http-equiv="Access-Control-Allow-Headers" content="X-Requested-With" />
    <link rel="icon" type="image/x-icon" href="/images/favicon-32x32.png">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- AddStyles -->
<% if (typeof addStyles !== 'undefined') { %>
    <% for(var i=0; i < styles.length; i++) { %>
    <link rel="stylesheet" href="<%= styles[i] %>">
    <% } %>
<% } %>
    <!-- Styles -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end" id="sidebar-wrapper">
            <%- include('sidebar'); %>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper" class="bg-light-subtle">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
                <div class="mx-2">
                    <button class="btn btn-light" id="sidebarToggle"><i class="fa fa-bars"></i></button>
                </div>
            </nav>