<div class="flex-shrink-0 p-3 pt-0" style="width: 250px;">
  <a href="/" class="d-flex align-items-center pb-2 mb-3 text-decoration-none border-bottom">
      <img src="https://via.placeholder.com/300x150" class="img-fluid mx-auto">
  </a>
  <ul class="list-group">
    <a href="/panel" class="list-group-item list-group-item-action"><i class="fa fa-home"></i> Panel</a>
    <a href="/services" class="list-group-item list-group-item-action"><i class="fa-solid fa-users-line"></i> Servicios</a>
    <a href="/courses" class="list-group-item list-group-item-action"><i class="fa-solid fa-person-chalkboard"></i> Cursos</a>
    <a href="/users" class="list-group-item list-group-item-action"><i class="fa-solid fa-user"></i> Users</a>
    <a href="/rols" class="list-group-item list-group-item-action"><i class="fa-solid fa-tags"></i> Rols</a>
    <!-- <li class="list-group-item list-group-item-action" data-bs-toggle="collapse" data-bs-target="#config-collapse" aria-expanded="false">
      <label for="config-collapse"><i class="fa-solid fa-gears"></i> Config</label>
      <div class="collapse list-group mt-2" id="config-collapse">
        <a href="#" class="list-group-item list-group-item-action">Role</a>
        <a href="#" class="list-group-item list-group-item-action">Region</a>
        <a href="3" class="list-group-item list-group-item-action" aria-current="true">System</a>
      </div>
    </li> -->
    <a href="/logout" class="list-group-item list-group-item-action"><i class="fa-solid fa-arrow-right-to-bracket"></i> Cerrar sesión</a>
  </ul>
</div>